@{
    ViewData["Title"] = "Confirm Email";
}


<section class="section section-basic">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h2>
                    <span class="title title-serif">Confirmar</span> Correo
                </h2>
            </div>
            <div class="col-xs-12">
                <p>
                    Gracias por confirmar tu cuenta de correo 
                    <a asp-controller="Account" asp-action="Login">
                        Haz click aquí para iniciar sesión.
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>
