@model RegisterViewModel
@{
    ViewData["Title"] = "Registro";
}

<div class="section-gray">
    <div class="container">
        <h2 class="title">@ViewData["Title"]</h2>

        <h4>Dinos algo sobre ti.</h4>


        <div class="row padding-20 text-center">
            <h5>Vas a registrarte como:</h5>
            <div class="col-sm-6">
                <a asp-action="RegisterProfesor"
                   asp-route-returnurl="@ViewData["ReturnUrl"]"
                   class="btn btn-info btn-round">
                    Profesor
                    <i class="material-icons icon-lg">school</i>
                </a>
            </div>
            <div class="col-sm-6">
                <a asp-action="RegisterEstudiante"
                   asp-route-returnurl="@ViewData["ReturnUrl"]"
                   class="btn btn-info btn-round">
                    Estudiante
                    <i class="material-icons icon-lg">perm_identity</i>
                </a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
