@model RegisterViewModel
@{
    ViewData["Title"] = "Registro";
}

<h2>@ViewData["Title"].</h2>

<h4>Dinos algo sobre ti.</h4>


<div class="row padding-20">
    <h5>Vas a registrarte como:</h5>    
    <div class="col-sm-6">
        <a asp-action="RegisterProfesor" 
           asp-route-returnurl="@ViewData["ReturnUrl"]"
           class="btn btn-info">
            Profesor
        </a>
    </div>
    <div class="col-sm-6">
        <a asp-action="RegisterEstudiante" 
           asp-route-returnurl="@ViewData["ReturnUrl"]"
           class="btn btn-info">
            Estudiante
        </a>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
