@model Hera.Models.EntitiesViewModels.CreateDesafioViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>CreateDesafioViewModel</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Nombre" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Dificultad" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Dificultad" class="form-control" />
                <span asp-validation-for="Dificultad" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DirArchivo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DirArchivo" class="form-control" />
                <span asp-validation-for="DirArchivo" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

