@model Hera.Models.EntitiesViewModels.CreateDesafioViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Crear desafio</h2>

<form method="post" enctype="multipart/form-data" asp-action="UploadDesafio" asp-controller="File">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Nombre" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Descripcion" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Dificultad" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Dificultad" class="form-control" type="number" min="0"/>
                <span asp-validation-for="Dificultad" class="text-danger"></span>
            </div>
        </div>
        <div class="">
            <label class="col-md-2 control-label"> Escenario Inicial </label>
            <div class="col-md-10">
                <input class="form-control-file" type="file" accept=".sb2" name="file" required/>                
            </div>
            
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Agregar Desafío!" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

