@model CreateCalificacionCualitativaViewModel

<form asp-action="Calificar" asp-controller="ProfesorEstudiante"
      class="form-horizontal">
    <div asp-validation-summary="All"></div>
    <div>
        <input asp-for="Id" type="hidden"/>

        <input asp-for="CursoId" type="hidden" />
        <input asp-for="EstudianteId" type="hidden" />
        <input asp-for="DesafioId" type="hidden" />
    </div>

    <div class="form-inline">
        <div class="form-group">
            <label asp-for="Completada"></label>
            <input asp-for="Completada" class="form-control" />
            <span asp-validation-for="Completada"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Descripcion" class="control-label"></label>
        <div class="">
            <textarea asp-for="Descripcion" rows="5" class="form-control">
            </textarea>
            <span asp-validation-for="Descripcion"></span>
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-success">Calificar</button>
    </div>
</form>