@model CalificacionCualitativa

<form asp-action="EditCalificar" asp-controller="ProfesorEstudiante"
      asp-route-idCurso='@ViewData["idCurso"]' 
      asp-route-idDesafio='@ViewData["idDesafio"]'
      asp-route-idEstudiante='@ViewData["idEstudiante"]'
      class="form-horizontal">
    <div asp-validation-summary="All"></div>
    <div>
        <input asp-for="Id" type="hidden" />
        <input asp-for="CalificacionId" type="hidden" />
        <input asp-for="FechaRegistro" type="hidden" />
    </div>

    <div class="">
        <div class="togglebutton">
            <label>
                <input asp-for="Completada" type="checkbox" />
                <span asp-validation-for="Completada"></span>
                ¿El estudiante completó el desafío de manera adecuada?
            </label>
        </div>
    </div>
    <div class="form-group">
        <textarea asp-for="Descripcion" rows="5" class="form-control"
                  placeholder="¿Por Qué?">
            </textarea>
        <span asp-validation-for="Descripcion"></span>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="text-center">
                <button type="submit" class="btn btn-success">Modificar</button>
            </div>
        </div>
    </div>
</form>