@model ResultadosScratchViewModel
@{
    ViewData["Title"] = "Resultados";
}
@section Styles {
    <link href="~/css/card-body.css" rel="stylesheet" />
}

<section>
    <div class="container">
        <h2> <span class="title">Resultados</span> proyecto</h2>
    </div>
</section>

@Html.Partial("Evaluacion/_EvaluacionScratchPartial", Model)



@section Modals {

    @await Html.PartialAsync("_ResultadoInfoGeneral", Model.ResultadoGeneral)
    @await Html.PartialAsync("_Modal_ResultadoScratchPartial", Model.ResultadoGeneral)

    @foreach (var item in Model.ScriptsResultados)
    {
        @if (!item.General)
        {
            @await Html.PartialAsync("_ResultadoInfoSprite", item)
        }
        @await Html.PartialAsync("_Modal_ResultadoScratchPartial", item)
    }
}


