@model EvaluacionViewModel
@{
    var info = Model;
    var modelList = new Dictionary<string, List<PropertyViewModel>>()
    {
        ["Abstracción y reconocimiento de patrones"] = new List<PropertyViewModel>()
        {
            new PropertyViewModel("Se usan todos los bloques",info.NonUnusedBlocks),
            new PropertyViewModel("Creación de bloques propios", info.UserDefinedBlocks),
            new PropertyViewModel("Uso de Clones", info.CloneUse)
        },
        ["Control de flujo"] = new List<PropertyViewModel>()
        {
           new PropertyViewModel("Uso de bloques simples", info.UseSimpleBlocks),
           new PropertyViewModel("Uso de bloques complejos", info.UseMediumBlocks),
           new PropertyViewModel("Se usan todos los bloques", info.UseNestedControl)
        },
        ["Recolección de información"] = new List<PropertyViewModel>()
        {
           new PropertyViewModel("Uso de bloques de entrada de datos", info.BasicInputUse),
           new PropertyViewModel("Uso de variables no creadas", info.VariableUse),
           new PropertyViewModel("Uso de sensores de sprite", info.SpriteSensing)
        },
        ["Análisis de información"] = new List<PropertyViewModel>()
        {
           new PropertyViewModel("Operadores lógicos básicos ", info.BasicOperators),
           new PropertyViewModel("Operadores lógicos complejos", info.MediumOperators),
           new PropertyViewModel("Operadores lógicos anidados", info.AdvancedOperators)
        },
        ["Paralelismo y sincronización"] = new List<PropertyViewModel>()
        {
           new PropertyViewModel("Dos hilos iniciando con bandera verde", info.TwoGreenFlagTrhead),
           new PropertyViewModel("Usa más de un tipo de evento", info.AdvancedEventUse)
        },
        ["Descomposición de problemas"] = new List<PropertyViewModel>()
        {
           new PropertyViewModel("Dos hilos por sprite", info.MultipleThreads)
        },
        ["Pensamiento algorítmico"] = new List<PropertyViewModel>()
        {
           new PropertyViewModel("Uso de secuencias", info.SecuenceUse)
        }


    };
}

<div class="row">
    <h4><span class="title">Variables</span> Generales</h4>
    <div class="col-sm-6">
        <dl class="">
            <dt>Más de un sprite tiene eventos</dt>
            <dd>@Html.Partial("Util/_CompletadoPartial", info.EventsUse)</dd>

            <dt>Uso correcto de mensasjes</dt>
            <dd>@Html.Partial("Util/_CompletadoPartial", info.MessageUse)</dd>
        </dl>
    </div>
    <div class="col-sm-6">
        <dl class="">
            <dt>Uso, y creación, de variables compartidas: </dt>
            <dd>@Html.Partial("Util/_CompletadoPartial", info.SharedVariables)</dd>

            <dt>Uso, y creación, de listas:</dt>
            <dd>@Html.Partial("Util/_CompletadoPartial", info.ListUse)</dd>
        </dl>
    </div>
</div>
@await Html.PartialAsync("Evaluacion/_ListaPropiedadesPartial", modelList)