
@model ResultadoScratch
@{
    var info = Model.IInfoScratch_General;
}


<div class="modal fade" id="modal-info-@Model.Nombre" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="row">
                    <div class="col-sm-7 col-sm-offset-3">
                        <ul class="nav nav-pills nav-pills-info" role="tablist">
                            <li class="active">
                                <a href="#dashboard" role="tab" data-toggle="tab">
                                    <i class="material-icons">dashboard</i>
                                    Restultados Generales
                                </a>
                            </li>
                            <li>
                                <a href="#valoration" role="tab" data-toggle="tab">
                                    <i class="material-icons">list</i>
                                    Evaluación
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                
                <div class="tab-content">
                    <div id="dashboard" class="tab-pane fade in active">
                        @Html.Partial("Evaluacion/_EvaluacionGeneral", Model)
                    </div>
                    <div id="valoration" class="tab-pane fade">
                        <h3>Menu 1</h3>
                        <p>Some content in menu 1.</p>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>