@model ResultadoScratch
@{
    var info = Model.IInfoScratch_General;
}


<div class="modal fade" id="modal-info-@Model.Nombre" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="myModalLabel">
                    <span class="title">Valoración</span>
                    General
                </h3>
            </div>
            <div class="modal-body">
                <div class="modal-body">

                    @Html.Partial("Evaluacion/_EvaluacionGeneral", Model)
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Cerrar</button>
            </div>
            
        </div>
    </div>
</div>