@model PaginationViewModel<Profesor>
@{
    ViewData["Title"] = "Gestión de profesores";
}

<section class="section-thin">
    <div class="container-fluid">
        <h2 class="text-center">
            <span class="title">Gestionar</span> Profesores
        </h2>
    </div>
</section>
<section class="section section-thin">
    <div class="container-fluid">
        <div class="row">
            <form asp-action="Index"
                  method="get" class="form-inline">
                <div class="col-xs-12 text-center">

                    <div class="form-group form-group-lg label-floating">
                        <label name="searchString" class="control-label">Búsqueda</label>
                        <input name ="searchString" class="form-control input-lg" />
                    </div>
                    <button class="btn btn-primary btn-fab btn-fab-mini btn-round " type="submit">
                        <i class="material-icons">search</i>
                    </button>

                </div>
            </form>
        </div>
    </div>
</section>
<section class="section-gray section section-basic">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                @if (Model.Any())
                {
                    <div class="card card-raised">
                        <div class="card-content">
                            <table class="table table-responsive table-condensed table-hover">
                                <thead class="text-primary">
                                <tr>
                                    <th>Nombre Profesor</th>
                                    <th>Correo Profesor</th>
                                    <th>Activo</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.NombreCompleto</td>
                                        <td>@item.UsuarioId</td>
                                        <td class="td-actions">
                                            @if (item.Activo)
                                            {
                                                <a asp-action="Activate"
                                                   asp-route-usuarioId="@item.UsuarioId"
                                                   asp-route-value="false"
                                                   class="btn btn-sm btn-round btn-warning">
                                                    <i class="material-icons">clear</i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a asp-action="Activate"
                                                   asp-route-usuarioId="@item.UsuarioId"
                                                   asp-route-value="true"
                                                   class="btn btn-sm btn-round btn-info">
                                                    <i class="material-icons">check</i>
                                                </a>
                                            }
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                            @await Html.PartialAsync("Pagination/_PaginationPartial", Model)
                        </div>
                    </div>
                }
                else
                {
                    @await Html.PartialAsync("Util/_NoResultsPartial")
                }
            </div>
        </div>
    </div>
</section>
