@model PaginationViewModel<Curso>

@{
    ViewData["Title"] = "Mis Cursos";
}
@section Styles {
    <link href="~/css/Estudiante/cursos.css" rel="stylesheet" />
}

<h2>Mis Cursos</h2>
<hr />
<br />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="card shadow col-lg-3 col-md-4 col-sm-6">
            <div class="card-header">
                <h3>@item.Nombre</h3>
                <h5>@item.Profesor.NombreCompleto</h5>
            </div>
            <div class="card-content">
                aquí va el contenido relevante del curso
            </div>
        </div>
    }
</div>



