@model RegistroCalificacion

@{
    ViewData["Title"] = Model.Desafio.Nombre;
}

<div class="row">
    <div class="col-md-6">
        <h2>@Model.Desafio.Nombre</h2>
    </div>
    <div class="col-md-6">
        <h3>Sin Completar</h3>
    </div>
</div>

<div class="row">
    <hr />
    <div class="col-md-6">
        <h3>Instrucciones</h3>
        <p>@Model.Desafio.Descripcion</p>
    </div>
    <div class="col-md-6">
        <a class="btn btn-info" asp-action="IniciarDesafio" asp-route-desafioId="@Model.DesafioId"
           asp-route-cursoId="@Model.CursoId">
            ¡Descarga la escena!
            <span class="glyphicon glyphicon-download"></span>
        </a>
    </div>
</div>

<div class="row">
    <hr />
    <div class="col-md-6">
        <a href="" class="btn btn-info">
            Subir Archivo
        </a>
    </div>
    <div class="col-md-6">
        <a href="" class="btn btn-default">
            Completar Desafío!
        </a>
    </div>
</div>

