body, html {
    height: 100% !important;
}
wrapper {
    height: 100% !important;
}

pre.prettyprint {
    background-color: #eee;
    border: 0px;
    margin-bottom: 60px;
    margin-top: 30px;
    padding: 20px;
    text-align: left;
}



.atv, .str {
    color: #05AE0E;
}

.tag, .pln, .kwd {
    color: #3472F7;
}

.atn {
    color: #2C93FF;
}

.pln {
    color: #333;
}

.com {
    color: #999;
}

.space-top {
    margin-top: 50px;
}

.btn-primary .caret {
    border-top-color: #3472F7;
    color: #3472F7;
}

.area-line {
    border: 1px solid #999;
    border-left: 0;
    border-right: 0;
    color: #666;
    display: block;
    margin-top: 20px;
    padding: 8px 0;
    text-align: center;
}

    .area-line a {
        color: #666;
    }

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}

.table-shopping .td-name {
    min-width: 130px;    
}


.profile-content{
    margin-bottom: 60px;
}

.rating-text, .icon-text .material-icons {
    position:relative;
}
.icon-text icon-md {
    top: 4px;
}
.rating-text.icon-md {
    top: -4px;
}
.icon-text .icon-lg {
    top: -3px;
}
.rating-text.icon-xl {
    top: -12px;
}
.icon-text .icon-xl {
    top:12px;
}
.rating-text.icon-xxl {
    top: -15px;
    font-size:20px;
}
.icon-text .icon-xxl {
    top: 15px;
}

#ul-notifications {
    padding:10px 20px;
}
#ul-notifications p {
    color: #333;
}

@media screen and (max-width: 767px)
{
    .table-responsive {
        display: block !important;
    }
}