
<div class="row">
    <div class="col-xs-12 text-center padding-40">
        <p class="text-muted icon-text">
            <i class="material-icons icon-xl">sentiment_very_dissatisfied</i>
            Parece que no tienes estudiantes
        </p>
    </div>
</div>