@{ 
    var text = (ViewData["NoResults-Text"] == null) ? "Sin Registros :("
        : ViewData["NoResults-Text"];
}
<div class="row">
    <div class="col-xs-12 text-center padding-40">
        <p class="text-muted icon-text">
            <i class="material-icons icon-xl">find_in_page</i>
            @text
        </p>
        @if (ViewData["NoResults-Action"] != null)
        {
            <a class="btn btn-round btn-white icon-text"
               asp-action='@ViewData["NoResults-Action"]'
               asp-controller='@ViewData["NoResults-Controller"]'>
                @ViewData["NoResults-ActionText"].ToString()
                <i class="material-icons icon-lg">priority_high</i>
            </a>

        }
    </div>
</div>