@model DesafioProgresoViewModel

@{
    ViewBag.Title = "Tus calificaciones";
    Layout = "_Layout";
}

<section class="section section-basic">
    <div class="container-fluid">
        <h2>
            <span class="title">Tus</span> Calificaciones
        </h2>
        <a asp-action="Details"
           class="btn btn-primary btn-round">
            <i class="material-icons">arrow_back</i> Ver curso
        </a>
        <h4>
            <span class="title">Desafío: </span> @Model.NombreDesafio -
            <span class="title">Curso: </span> @Model.NombreCurso
        </h4>
        
    </div>
    
</section>
<section class="section section-gray">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card card-plain">
                <div class="card-title text-center">
                    <h3 class="title">Tus intentos</h3>                    
                </div>
                <div class="card-content">
                    <ul class="timeline">
                        @for (var i = 0; i < Model.Calificaciones.Count; i++)
                        {
                            var cal = Model.Calificaciones[i];
                            
                            var _class = (i % 2 != 0) ? "" : "timeline-inverted";
                            <li class="@_class">
                                @await  Html.PartialAsync("_ResumenCalificacionPartial", cal)
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>