@model ResultadoGeneralViewModel
@{
    ViewData["Title"] = "Resultados";
}
@section Styles {
    <link href="~/css/card-body.css" rel="stylesheet" />
}

<h2>Resultados</h2>

<div class="row">
    <div class="col-sm-12">
        
        <div class="card">
            <div class="card-header">
                Felicidades
            </div>
            <div class="card-content">
                <label>Total Scripts:</label>
                <p>@Model.NumScripts</p>

                <label>Total bloques: </label>
                <p>@Model.NumBloques</p>

                <label>Scripts duplicados</label>
                <p>@Model.DuplicateScriptsCount</p>

                <label>Código Muerto:</label>
                <p>@Model.DeadCodeCount</p>
            </div>
        </div>
        
    </div>
</div>

