@model CreateCursoViewModel

@{
    ViewData["Title"] = "Create";
}

@section Styles {
    <environment names="Development">
        <link href="~/css/Autocomplete/easy-autocomplete.min.css" rel="stylesheet" />
        <link href="~/css/Autocomplete/easy-autocomplete.themes.min.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/autocomplete.min.css" asp-append-version="true" />
    </environment>
}
<section>
    <div class="container">
        <div class="row">
            <h2><span class="title">Nuevo</span> Curso</h2>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <form asp-action="Create">
            <div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <h3>Datos del curso</h3>
                    <div class="form-group label-floating col-sm-6 col-md-4 col-lg-3 col-sm-6 col-md-4 col-lg-3">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group label-floating col-sm-6 col-md-4 col-lg-3">
                        <label asp-for="Descripcion" class="control-label"></label>
                        <input asp-for="Descripcion" class="form-control" />
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                    <div class="form-group label-floating col-sm-6 col-md-4 col-lg-3">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group label-floating col-sm-6 col-md-4 col-lg-3">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <h3>Datos del desafío</h3>
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>
                                Agregar desafio existente
                                <a class="btn btn-sm btn-info pull-right"
                                   target="_blank"
                                   asp-controller="Desafios" asp-action="Create">
                                    Crear desafio nuevo
                                    <i class="material-icons icon-lg">add</i>
                                </a>
                            </h4>
                            
                        </div>
                    </div>
                    <div class="form-group label-floating col-sm-6 col-md-4 col-lg-3 col-sm-6 col-md-4 col-lg-3">
                        <input id="input-desafioId" asp-for="DesafioId" class="form-control" type="hidden" />
                        <input id="input-desafioNombre" class="form-control" placeholder="Nombre desafío inicial" />
                    </div>

                    <div class="form-group label-floating col-sm-6 col-md-4 col-lg-3 col-sm-6 col-md-4 col-lg-3">
                        <input id="input-desafioAutor" class="form-control" placeholder="Autor Desafío
                               " Disabled />
                    </div>

                    <div class="form-group label-floating col-sm-6 col-md-4 col-lg-3 col-sm-6 col-md-4 col-lg-3">
                        <input id="input-desafioDescripcion" class="form-control" Disabled placeholder="Descripción del desafío" />
                    </div>
                    <div id="div-lnk-desafio" class="form-group col-sm-6 col-md-4 col-lg-3 text-center" style="display:none" >
                        <a id="lnk-desafio"  href="" target="_blank" class="btn btn-sm btn-round btn-primary">
                            Ver desafío <i class="material-icons icon-lg">open_in_new</i>
                        </a>
                    </div>
                </div>
                <div class="row margin-top-30">
                    <div class="col-xs-12 text-center">
                        <input type="submit" value="Crear curso" class="btn btn-primary btn-round" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    @Html.Partial("_ValidationScriptsPartial");
    <environment names="Development">
        <script src="~/js/Autocomplete/jquery.easy-autocomplete.min.js"></script>
        <script src="~/js/Autocomplete/autocomplete-client.js"></script>
        <script src="~/js/Cursos/Details.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/autocomplete.min.js"></script>
        <script src="~/js/cursos.min.js"></script>
    </environment>
}
