@model ResultadosScratchViewModel
@{
    ViewData["Title"] = "Resultados";
}
@section Styles {
    <link href="~/css/card-body.css" rel="stylesheet" />
}

<h2>Resultados</h2>
<hr />
<div class="row">
    <div class="col-sm-12">
        @await Html.PartialAsync("_ResultadoScratchPartial", Model.ResultadoGeneral)
    </div>
    <div class="col-sm-12">
        <h3>Objetos</h3>
        <hr />
        @foreach (var item in Model.ScriptsResultados)
        {
            <div class="col-sm-4">
                @await Html.PartialAsync("_ResultadoScratchPartial", item)
            </div>
        }
    </div>
</div>

@section Modals {
    @await Html.PartialAsync("_Modal_ResultadoScratchPartial",
    Model.ResultadoGeneral)
    @Html.Partial("_ResultadoInfoGeneral",
                Model.ResultadoGeneral)

    @foreach (var item in Model.ScriptsResultados)
    {
        @if (!item.General)
        {
            @Html.Partial("_ResultadoInfoSprite",
                item)
        }
        @await Html.PartialAsync("_Modal_ResultadoScratchPartial", item)
    }
}

