@model ResultadosScratchViewModel
@{
    ViewData["Title"] = "Resultados";
}
@section Styles {
    <link href="~/css/card-body.css" rel="stylesheet" />
}

<section>
    <div class="container">
        <h2> <span class="title">Resultados</span> proyecto</h2>
    </div>
</section>

@Html.Partial("Evaluacion/_EvaluacionScratchPartial", Model)


@section Modals {

    @await Html.PartialAsync("Evaluacion/_Modal_ResultadoGeneralSimple", Model.ResultadoGeneral)
    @await Html.PartialAsync("Evaluacion/_Modal_ResultadoBloquesPartial", Model.ResultadoGeneral)

    @foreach (var item in Model.ScriptsResultados)
    {
        @if (!item.General)
        {
            @await Html.PartialAsync("Evaluacion/_Modal_ResultadoinfoSprite", item)
            @await Html.PartialAsync("Evaluacion/_Modal_ResultadoBloquesPartial", item)
        }

    }
}


