@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutHome";
}



<div class="row">
    <div class="col-sm-6">
        <h2>Evalua de forma rápida cualquier proyecto de scratch</h2>
        <form method="get"
              asp-action="Evaluacion"
              asp-controller="Home"
              class="form-form-inline">            
            <div class="form-group label-floating">
                <label class="control-label">Id Proyecto:</label>
                <input type="text" name="idProyecto" class="form-control"
                       required />
            </div>
            <button type="submit" class="btn btn-info">Evaluar!</button>
        </form>        
    </div>
</div>







