@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutHome";
}

<section class="div container-fluid">
    <h2><span class="title">Evalúa</span> un proyecto de scratch</h2>
</section>
<section class="section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">

                <form method="get"
                      asp-action="Evaluacion"
                      asp-controller="Home"
                      class="form-inline">
                    
                    <div class="text-center">
                        
                        <div class="form-group form-group-lg label-floating">
                            <label class="control-label">Id Proyecto</label>
                            <input type="text" name="idProyecto" class="form-control"
                                   required />
                            
                        </div>
                        <button type="submit" class="btn btn-primary btn-round">Evaluar!</button>
                        <div class="pull-left text-danger validation-summary-errors"
                             asp-validation-summary="All">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>








